<!DOCTYPE html>
<html>
  <head>
    <title>H0dor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">H0dor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>
              <% if user_signed_in? && current_user.admin? %>
                <li class="nav-item">
                  <%= link_to "OAuth Apps", oauth_applications_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <% if user_signed_in? %>
                    Connected as <%= current_user %>
                  <% else %>
                    Not connected
                  <% end %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUser">
                  <% if user_signed_in? %>
                    <li><%= link_to "Role: #{current_user.role.humanize}", "#", class: "dropdown-item disabled" %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                  <% else %>
                    <li><%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-xxl my-md-4">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
